<!DOCTYPE <html>
  <head>
    <title>Closure Animal Shelter</title>
    <link href="css/magister.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container main-container">
      <h1 class="title">Closure Animal Shelter</h1>
      <h2 class="tagline">We Open Doors. We Close Them Too.</h2>
      <%= yield %>
    </div>
  </body>
</html>
